<div class="container-fluid">
  <h3 class="text-center" style="margin-top: 20px; margin-bottom: 20px;">My Blog</h3>
  <div class="container2" *ngFor="let blog of blogs">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center" style="font-size: medium;">{{blog.title}}.</h3>
      <!-- <span id="alignment" (click)="remove(blog)"> X </span> -->
      <button class="btn btn-danger btn-small" (click)="remove(blog)">X</button>
    </div>
    <div class="card-body">
      <p class="card-text">{{blog.content}}</p>
    </div>
  </div>
</div>
  <br>
</div>
